<h1 class="page-header">{{ page_header_text }}</h1>
<div class="col-xs-5 col-sm-4 col-md-3" ng-repeat="album in albums">
	<div class="thumbnail">
		<a href="/moments/user/album/{{ album.album_name }}"> <img
			src="{{ album.coverphoto }}" />
		</a>
		<div class="caption">
			<h4 class="make-inline">
				<a href="/moments/user/album/{{ album.album_name }}">{{
					album.album_name }}</a>&nbsp;&nbsp;
			</h4>
			<div class="btn-group make-inline">
				<ul class="dropdown-menu" role="menu">
					<li><a data-target="#shareAlbumModal" role="button"
						data-backdrop="static" data-keyboard="false" data-toggle="modal" ng-click="ctrl.createAlbumLink(album.album_name)">Share</a></li>
					<li><a href="#" ng-click="ctrl.deleteAlbum(album.album_name)">Delete</a></li>
					<li><a href="#"
						ng-click="ctrl.downloadAlbum(album.album_name)">Download</a></li>
				</ul>
				<span role="button" data-toggle="dropdown"> <span
					class="caret"></span>
				</span>

			</div>
		</div>
	</div>
</div>