<h1 class="page-header">{{ page_header_text }}</h1>
<div class="col-xs-5 col-sm-4 col-md-3" ng-repeat="album in albums">
	<div class="thumbnail">
		<a href="/moments/user/album/{{ album.album_id }}"> <img
			src="{{ album.coverphoto }}" />
		</a>
		<div class="caption">
			<h4 class="make-inline">
				<a href="/moments/user/album/{{ album.album_id }}">{{
					album.album_name }}</a>&nbsp;&nbsp;
			</h4>
			<div class="btn-group make-inline">
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Share</a></li>
					<li><a href="#" ng-click="ctrl.deleteAlbum(album.album_id)">Delete</a></li>
					<li><a href="#" ng-click="ctrl.downloadAlbum(album.album_name)">Download</a></li>
				</ul>
				<span role="button"
					data-toggle="dropdown">
					<span class="caret"></span>
				</span>

			</div>
		</div>
	</div>
</div>