<div id="uploadPhotoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!--Login Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Enter album details</h4>
			</div>
			<form name="uploadPhotoForm" ng-controller="UploadController as ctrl"
				ng-submit="ctrl.uploadFile()" novalidate="novalidate">

				<div class="modal-body">
					<div class="alert alert-warning" role="alert" ng-show="showDiv">
						<ul>
							<li ng-repeat="error in errorMsgs">{{ error }}</li>
						</ul>
					</div>
					<div class="form-group">
						<label for="img">Select Images</label><br> <input type="file"
							id="file1" multiple ng-files="getTheFiles($files)" ng-required="true" />
						<p class="help-block">Only jpg and png images are allowed.</p>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-danger"
						value="Upload">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="ctrl.reset()">Close</button>
				</div>
			</form>
		</div>

	</div>
</div>