body {
	background-color: #eee;
}

.make-inline {
	display: inline-block;
	vertical-align: middle;
}

.thumbnail>a>img {
	height: 50px;
	width: auto;
}

@media ( min-width : 400px ) {
	.thumbnail>a>img {
		height: 100px;
		width: auto;
	}
}

@media ( min-width : 600px ) {
	.thumbnail>a>img {
		height: 150px;
		width: auto;
	}
}

@media ( min-width : 1024px) {
	.thumbnail>a>img {
		height: 200px;
		width: auto;
	}
}

.thumbnail .caption {
	text-align: center;
}

.thumbnail :LINK {
	text-decoration: none;
}

.thumbnail:HOVER {
	box-shadow: 0px 0px 15px #888888;
}
}