body {
	background-color: #eee;
}

.make-inline {
	display: inline-block;
	vertical-align: middle;
}

/* .thumbnail > a > img {
	height: 100px;
	width:auto;
}

@media ( min-width : 768px) {
	.thumbnail > a > img {
		height: 200px;
		width: 100%;
	}
} */

.thumbnail .caption {
	text-align: center;
}

.thumbnail :LINK {
	text-decoration: none;
}

.thumbnail:HOVER {
	box-shadow: 0px 0px 15px #888888;
}